server:
  port: 8080
  servlet:
    context-path: /booking
spring:
  datasource:
    url: "jdbc:mysql://localhost:3306/booking"
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  data:
    redis:
      host: localhost
      port: 6379